/* 
цвет логотипа #000000;
цвет основного текста #757575;
цвет заголовка #212121;
акцент #2196F3;
фон #FFFFFF;
фон футер #2F303A;
фон секции наша команда #F5F4FA;
цвет ссылок футере rgba(255, 255, 255, 0.6);
 */
:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --title-color: #212121;
  --main-text-color: #757575;
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-logo-color: #000000;
  --element-logo-color: #2196f3;
}
body {
  font-family: var(--main-font);
  background-color: #ffffff;
  list-style: none;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
}
.logo-element {
  color: var(--element-logo-color);
}
/* ШАПКА САЙТА */
.navigation-list-link,
.address-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--accent-color);
}
/* HERO */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button:hover,
.hero-button:focus,
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* ПОЧЕМУ МЫ */
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.why-are-we-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.what-we-do-subtitle {
  text-align: center;
  /* color: #ffffff; */
}
/* НАША КОМАНДА */
.team {
  background-color: var(--section-background-color);
}
.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ПОСТОЯННЫЕ КЛИЕНТЫ */
/* ПОДВАЛ САЙТА */
.footer {
  background-color: var(--footer-background-color);
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-tel,
.footer-mail,
.footer-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-location {
  color: #ffffff;
}

/* ПОРТФОЛИО */
.portfolio-list-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-list-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
